.profile-col {
	height: 83.0vh;
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	justify-content: flex-start;
	border-right: dotted 4px #cfd8dc;
	margin-top: 20px;
	margin-bottom: 20px;
}

.info-box {
	width: 100%;
	text-align: center;
}

.picture-box {
	max-width: 60%;
	height: auto;
	margin-top: 50px;
	border-radius: 100%;
}

.picture-box-container {
	text-align: center;
}
