.current-list {
	margin-top: 20px;
	border-right: dotted 4px #cfd8dc;
	height: 83vh;
	padding-top: 0px !important;
}

.add-list-button-container {
	text-align: center;
}


.btn {
  background-color: white;
  color: #416c6d;
  font-size: 1.2em;
  text-transform: none;
}

.btn:hover {
  background-color: #416c6d;
  color: white;
}

a {
	color: #416c6d;
}
