.footer-container {
	width: 100%;
	text-align: center;
}
footer {
	background-color: #416c6d !important;
	flex: 1 0 auto;

}

.page-footer {
	padding-top: 0px !important;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-google {
  color: white;
}

.fa-linkedin {
  color: white;
}

.social_media {
	float: right;
	text-align: right;
	margin-right: 10px;
}

.squirrel_name {
	float: left;
	margin-left: 15px;
}

.fa {
	margin: 5px;
}
