.button_login_container {
  display: flex;
  justify-content: center;
}

.register_register_button {
  margin: 10px;
  background-color: #416c6d !important;
  text-transform: none;

}

.register_login_button {
  margin: 10px;
  background-color: white !important;
  text-transform: none;

}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.loading_container_two {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  height: 80vh;
  border: 10px solid white;
  margin-top: 80px;
}

.register_image {
  background: url('../../images/background_two.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 100%;
}

.register_container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.register_form {
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0px 75px;
}

.login a{
  color: #416c6d !important;
}
