@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

#profile-nav {
	width: 100%;
	background-color: #416c6d;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0px;
}

.link-buttons {
	margin: 0 10px !important;
	color: white;
	height: 100%;
	font-family: 'Playfair Display', serif;
	font-size: 1.25em;
}

.link-buttons:hover {
	color: black;
	font-weight: bolder;
}

img {
	height: 50px;
	margin: 8px;
}

.logout {
	padding-left: 0px;
}

button {
	background-color: inherit;
	border-style: none;
}
